<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartbrain.giovanny.smartbrain" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MenuEasyActivity"
            android:label="@string/title_activity_menu_easy"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".HardMenuActivity"
            android:label="@string/title_activity_hard_menu"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".FamilyActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".VowelLearnActivity"
            android:label="@string/title_activity_vowel_learn" >
        </activity>
        <activity
            android:name=".FamilyActivityGame"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".body.BodyTeachActivity1"
            android:label="@string/title_activity_body_teach_activity1" >
        </activity>
        <activity
            android:name=".body.BodyGameActivity1"
            android:label="@string/title_activity_body_game_activity1" >

        </activity>
        <activity
            android:name=".body.BodyTechActivity2"
            android:label="@string/title_activity_body_tech_activity2" >
        </activity>
        <activity
            android:name=".body.BodyGameActivity2"
            android:label="@string/title_activity_body_game_activity2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
